NODE_ENV=development
PORT=3000

MONGO_URI=replaceme

GEOCODER_PROVIDER=replaceme
GEOCODER_API_KEY=replaceme

FILE_UPLOAD_PATH=replaceme
FILE_UPLOAD_MAX_SIZE=replaceme

JWT_SECRET=replaceme
JWT_EXPIRE=replaceme
JWT_COOKIE_EXPIRE=replaceme

SMTP_HOST=replaceme
SMTP_PORT=replaceme
SMTP_EMAIL=replaceme
SMTP_PASSWORD=replaceme
FROM_EMAIL=replaceme
FROM_NAME=replaceme
